<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FiveToolbox</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/most-popular.css">
    <link rel="stylesheet" href="/assets/css/Navbar-Centered-Brand.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body style="background: rgb(20,20,20);font-family: Poppins, sans-serif;">
    <nav class="navbar navbar-light navbar-expand-md py-3" style="background: rgb(20,20,20);">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span style="color: rgba(255,255,255,0.9);">FiveToolbox Alpha</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-4"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-4">
                <ul class="navbar-nav me-auto"></ul>
                <div class="d-md-none my-2"><button class="btn btn-light me-2" type="button">Button</button><button class="btn btn-primary" type="button">Button</button></div>
            </div>
            <div class="d-none d-md-block"><a class="btn btn-primary" role="button" href="/" style="background: rgb(40,40,40);">Menu</a></div>
        </div>
    </nav>
    <div style="height: auto;background: linear-gradient(-96deg, #3eadcf 0%, #abe9cd 100%), #ffffff;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;"></div>
    <div style="height: 80px;"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post" action="/savesettings">
                    <h2 style="color: rgb(255,255,255);">Fivem Location Path</h2><input class="form-control" type="text" style="color: white; width: 100%;background: rgb(40,40,40);border-color: rgb(40,40,40);" required id="fivemlocation" name="fivemlocation" placeholder="Your fivem location path">
                    <div class="text-center"><button class="btn btn-primary" type="submit" role="button" style="color: white; background: rgb(40,40,40);border-color: rgb(40,40,40);margin-top: 14px;">Save</button><a class="btn btn-primary" role="button" style="background: rgb(40,40,40);border-color: rgb(40,40,40);margin-top: 14px;margin-right: 3px;margin-left: 13px;">Tutorial</a></div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        let l = 0
        while(l>10){
            l++
            console.log("I dont know how you got there but hi there!")
        }
        
    </script>
</body>

</html>